@model System.ComponentModel.Entity

@{
    var info = Model.GetInfo();

    ViewData["Title"] = $"Detalhar {Model.Id} - {info.PluralName}";

    var parent = (string?)ViewData["Parent"];
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Minha Loja</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">@info.PluralName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhar @Model.Id</li>
    </ol>
</nav>

<section>
    <h1>Detalhar @info.SingleName</h1>

    <div class="container">
        <partial name="Item/_@Model.GetTypeName()" model="Model" />

        <partial name="_Details" model="Model" />
    </div>
</section>
