@model MinhaLoja.Models.PedidoEntregaPrevisaoHistorico

@{
    var parent = "PedidoEntregaPrevisaoHistorico";

    var viewData = new ViewDataDictionary(ViewData) { { "Parent", parent } };
}

<section>
    <h7>Não há mais detalhes de histórico de previsão de entrega de pedido</h7>
</section>
