@model MinhaLoja.Models.Pedido

<div asp-validation-summary="All" class="text-danger"></div>

@if (Model.IsEdit())
{
    <div class="row">
        <label asp-for="Id" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-3">
            <input asp-for="Id" class="form-control" disabled="disabled" />
        </div>
    </div>
}
<div class="row">
    <label asp-for="ClienteId" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
        <span asp-validation-for="ClienteId" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <label asp-for="Data" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Data" class="form-control" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <label asp-for="ServicoId" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <select asp-for="ServicoId" class="form-control" asp-items="ViewBag.ServicoId"></select>
        <span asp-validation-for="ServicoId" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <label asp-for="Descricao" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <label asp-for="Valor" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Valor" class="form-control" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>
</div>
