@model MinhaLoja.Models.ServicoPrecoHistorico

@{
    var parent = "ServicoPrecoHistorico";

    var viewData = new ViewDataDictionary(ViewData) { { "Parent", parent } };
}

<section>
    <h7>Não há mais detalhes de histórico de preço de serviço</h7>
</section>
